.project_container {
  max-height: 65vh;
  overflow: scroll;
}
.project_item {
  display: inline-block;
  float: right;
  position: relative;
  float: right;
  width: 30rem;
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  margin-bottom: 2rem;
}
.project_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.project_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.project_item h3 {
  margin: 1.2rem 0 2rem;
}

.project_item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.projects_text h5, h2 {
  color: var(--color-light)
}
.projects_text h2 {
  color: var(--color-primary);
    margin-bottom: 3rem;
}
.projects {
  width: 59.9rem;
  display: inline-block;
  right: 0;
}
.project_images {
  display: inline-block;
  float: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 30rem;
}
.project_images > img {
  width: 100%;
}
/* ======================================= TABLETS ======================================= */
@media screen and (max-width: 1024px) {
  .project_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ======================================= PHONES ======================================= */
@media screen and (max-width: 600px) {
  .project_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
