#projectInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.projectInfo h4 {
  color: var(--color-bg-variant);
  font-size: 40px;
}
.project_content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  margin-top: 2rem;
  padding: 4rem 4rem;
}
.project_content_intro {
  flex: 1;
  max-width: 60rem;
  min-width: 40rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 7rem;
}
.project_content_intro img,
.project_content_intro video {
  max-width: 60rem;
  min-width: 40rem;
  height: 30rem;
  border-radius: 1rem;
  object-fit: cover;
  transition: all 0.3s ease;
}
.project_content_intro img:hover {
  scale: 1.03;
}
.project_content_intro video:hover {
  scale: 1.03;
}
.project_content_description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  width: 40rem;
  transition: all 0.3s ease;
}
.project_content_description:hover {
  scale: 1.03;
}
.project_content_description h3 {
  margin-bottom: 1rem;
  color: black;
}
.project_content_description p {
  margin-left: 2rem;
  margin-bottom: 1rem;
  color: grey;
}
.tag_element {
  margin-left: 2rem;
}
.backspace {
  position: absolute;
  left: 2.5%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 30px;
}
@media screen and (max-width: 1024px) {
  .project_content {
    flex-direction: column;
  }
  .project_content_description {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 450px) {
  .projectInfo h4 {
    font-size: 24px;
  }
  .backspace {
    left: 1%;
    font-size: 24px;
    top: 90px;
  }
  .project_content {
    margin-top: -120px;
  }
  .project_content_intro {
    width: 320px;
    max-width: 320px;
    min-width: 320px;
    align-items: center;
    justify-content: center;
    margin-left: -25px;
  }

  .project_content_intro img {
    max-width: 20rem;
    min-width: 20rem;
    object-fit: contain;
  }
  .project_content_intro video {
    max-width: 20rem;
    min-width: 20rem;
    object-fit: contain;
  }
  .project_content_description {
    margin-left: -25px;
    margin-top: 0;
    max-width: 20rem;
  }
}
