footer {
  /* background: var(--color-primary); */
  border: 2px solid var(--color-primary);
  border-radius: 0.7rem;
  padding: 2.5rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}
footer a {
  color: white;
  transition: var(--transition);
}
footer a:hover {
  color: var(--color-primary);
}
.footer_logo {
  font-size: 16rem;
  width: 25%;
  margin-bottom: 1rem;
  display: inline-block;
}
/* .footer_logo-img {
  display: inline-block;
  width: 15%;
  align-items: center;
  margin-left: 1rem;
} */
.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 2rem;
}
.footer_socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.footer_socials a {
  /* background: var(--color-primary); */
  color: white;
  padding: 0.35rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
  transition: var(--transition);
}
.footer_socials a:hover {
  background: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.footer_copyright {
  margin-bottom: 2rem;
}
/* ======================================= PHONES ======================================= */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer_socials {
    margin-bottom: 2.3rem;
  }
}
