.experience_container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem; */
  max-height: 50vh;
  overflow: scroll;
}
.experience_container > div {
  background: var(--color-bg-variant);
  margin: auto;
  margin-bottom: 5rem;
  max-width: 40rem;
  min-height: 30vh;
  padding: 2, 4rem 5rem;
  /* margin-left: 1.5rem;
  margin-right: 1.5rem; */
  border-radius: 2rem;
  border: 1px solid rgba(36, 144, 215, 1);
  transition: var(--transition);
}
.experience_container > div:hover {
  background: rgba(36, 144, 215, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
  cursor: default;
}
.experience_container > div h3 {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
  color: var(--color-primary);
}
.experience_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  margin: auto;
  padding: 10px;
}
.experience_details {
  display: flex;
  gap: 1rem;
}
.experience_details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}
.experiences_text h5,h2{
  color: var(--color-light)
}
.experiences_text h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}
/* ======================================= TABLETS ======================================= */
@media screen and (max-width: 1024px) {
  .experience_container {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .experience_container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .experience_content {
    margin-left: 8rem;  
  }
  .experience_container .experience_frontend, .experience_container .experience_backend, .experience_container .experience_other {
    position: relative;
    margin-bottom: 2rem;
    margin-right: 0;
    left: -5rem;
  }
}

/* ======================================= PHONES ======================================= */
@media screen and (max-width: 600px) {
  .experience_container {
    gap: 1rem;
  }
  .experience_content {
    margin-left: 0rem;
  }
  .experience_container > div {
    width: 90%;
    padding: 2rem 1rem;
  }
        .experience_container .experience_frontend,
        .experience_container .experience_backend,
        .experience_container .experience_other {
          position: relative;
          margin-bottom: 2rem;
          margin-left: 6.5rem;
        }
}
