#experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experiences_text h5,
h2 {
  color: grey;
}
.experiences_text h2 {
  color: #313bac;
  margin-bottom: 3rem;
}
.skills_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experiences {
  flex: 1;
  width: 100%;
  flex-direction: column;
}
.skills_container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 6rem;
}
.experience_skill_list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 5rem;
}
.skill_item {
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
}
.skill_item > div {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
}
.skills_flex > img {
  width: 50%;
  height: 50%;
}
.skills_flex > img:hover {
  box-shadow: 0 0 25px #fef4f5;
}
.p_text {
  font-size: 0.8rem;
  text-align: center;
  color: var(--gray-color);
  line-height: 1.5;
  color: grey;
  font-weight: 500;
  margin-top: 0.5rem;
}
.bold-text,
.exp_h4 {
  font-size: 1rem;
  font-weight: 800;
  color: black;
  text-align: left;
}
.skills_exp_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
}
.vertical-timeline-element {
  transition: var(--transition);
  margin: 0;
}
.vertical-timeline-element:hover {
  transform: scale(1.05); /* adjust as needed */
}
.skills_exp {
  flex: 1;
}
.vertical-timeline-element-date {
  margin-left: 20px;
  margin-right: 20px;
}
.vertical-timeline {
  margin: 0;
  padding: 0;
}
.skill_exp_work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 100%;
  transition: var(--transition);
}
.vertical-timeline-element-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill_exp_work h4 {
  font-weight: 500;
}
.skill_exp_work p {
  font-weight: 400;
  color: grey;
  margin-top: 5px;
}
.skills_exp_year {
  /*margin-right: 3rem;*/
  width: 35%;
}
.skills_exp_year p {
  font-weight: 800;
  color: #313bac;
}
.exp_tooltip {
  max-width: 300px !important;
  background-color: white !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  padding: 1rem !important;
  color: grey !important;
  text-align: center !important;
  line-height: 1.5 !important;
  opacity: 1 !important;
}
@media screen and (min-width: 1170px) and (max-width: 1600px) {
  .experience_skill_list {
    margin-right: 2rem;
  }
  .skills_container {
    width: 90%;
    padding: 0 0 0 1rem;
  }
}
@media only screen and (max-width: 1170px) {
  .skills_container {
    width: 95%;
  }
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns {
    width: 100% !important;
  }
}
@media screen and (max-width: 850px) {
  .skills_container {
    width: 100%;
    flex-direction: row;
    padding: 0;
    margin-left: 2rem;
  }
  .experience_skill_list {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  .skills_container {
    margin-right: 1rem;
    flex-direction: column;
    padding: 0;
    margin-left: 2rem;
  }
  .skill_item > div {
    width: 70px;
    height: 70px;
  }
  .experience_skill_list {
    margin: 0;
  }
  .skills_exp {
    margin-top: 1rem;
  }
  .vertical-timeline-element-content {
    width: 82%;
  }
}
